
.flex-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.grid-container {
    display: grid;
    height: 50%;
    width: 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    

}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: grey;
    align-items: center;
}

.profile {
    grid-row: span 2;
}

.intro {

    
}

.experience {
    
}

