body {
    font-family: 'Quicksand', sans-serif;
    background: url(/pics/background-2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



/* Mobile version */

@media only screen and (max-width: 750px) {

    
    .container {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .grid-container {
        display: grid;
        grid-column: 1fr;
        grid-row: 1fr 1fr 1fr; 
        gap: 20px;
        
    }

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(255,255,255, 0.9);  
    }
    
    .profile {
        border-radius: 30px;
    }

    .name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 2px;
    }

    .email {
        font-size: 14px;
        font-weight: bold;
        color: #4e4f4ee4
    }

    .item > img {
        height: 80px;
        border-radius: 50%;
        margin-top: 2dvh;
    }

    .item > button {
        background-color: #5f655ce4;
        border-radius: 20px;
        height: 40px;
        width: 100px;
        border: 0;
        color: white;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    .item > button:hover {
        background-color: #171816e4;
    }


    .about-me {
        border-radius: 30px;
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 370px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .mini-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 1px;
        color: #252628;
    }

    .status {
        font-size: 15px;
        color: #5FD068;
        font-weight: bold;
    }

    .skills {
        border-radius: 30px;
        height: 500px;

    }

}


/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

/* PC version */

@media only screen and (min-width: 751px) {


    .container {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    
    .grid-container {
        width: 80vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
        justify-content: center;
        
    }
    
    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(255,255,255, 0.9);
    
    }
    

    
    /* Profile content */
    
    .profile {
    
        border-radius: 30px;
        grid-column: span 1;
        grid-row: span 2;   
        
    }
    
    .name {
        font-size: 25px;
        font-weight: bold;
        

    }
    
    .email {
        font-size: 18px;
        font-weight: bold;
        color: #4e4f4ee4;
        margin-top: 5px;
    }
    
    .item > img {
        height: 160px;
        border-radius: 50%;    
        
    }
    
    .item > button {
        background-color: #5f655ce4;
        border-radius: 20px;
        height: 40px;
        width: 120px;
        border: 0;
        color: white;
        font-weight: bold;
        font-size: 14px;
        
    }
    
    .item > button:hover {
        background-color: #171816e4;
    }
    
    
    
    /* About me content  */
    .about-me {
     
        border-radius: 30px;   
        grid-column: span 1;
        flex-shrink: 2;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 350px;
        padding-left: 25px;
        padding-right: 25px;
        

    }

    
    
    
    .status {
        font-size: 16px;
        color: #5FD068;
        font-weight: bold;
        
    
    }
    
    
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.name {
    margin-bottom: 10px;
}
.email {
    margin-top: 10px;
}

.item > button {
    margin-top: 20px;
}

.roles {
    
    border-radius: 30px;
    display:  block;
    /* flex-direction: column;
    align-items: start; */
    padding-left: 30px;
    
}

.role-flex {
    display: block;
    height: 30%;
    width: 100%;
    margin-bottom: 50px;
}

.role-flex img {
    width: 50px;
    justify-self: center;
    align-self: center;

}

.role-flex p {
    font-size: 17px;
    font-weight: bold;
}



.role-flex span {
    font-weight: lighter;
    margin-top: 10px;
}

.role-item {
    display: flex;
    gap: 20px;
    
}


.role-item br {
    display: block;
    margin-top: 8px;
    content: "";

}

.lang-flex {
    display: flex;
    height: 30%;
    width: 100%;
    justify-content: start;

}

.lang-flex img {
    width: 40px;
    
}

.lang-item {
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
}

h1 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #252628;
}