body {
    font-family: 'Quicksand', sans-serif;
}

/* Mobile version */

@media only screen and (max-width: 750px) {

    body {
        background-color: #eff1f3;
    }
    
    .container {
        display: flex;
        height: 140vh;
        justify-content: center;
        align-items: center;
    }

    .grid-container {
        display: grid;
        grid-column: 1fr;
        grid-row: 1fr 1fr 1fr; 
        gap: 20px;
        
    }

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .profile {
        background-color: #fff;
        border-radius: 30px;
    }

    .name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 2px;
    }

    .email {
        font-size: 14px;
        font-weight: bold;
        color: #4e4f4ee4
    }

    .item > img {
        height: 80px;
        border-radius: 50%;
        margin-top: 2dvh;
    }

    .item > button {
        background-color: #5f655ce4;
        border-radius: 20px;
        height: 40px;
        width: 100px;
        border: 0;
        color: white;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    .item > button:hover {
        background-color: #171816e4;
    }


    .about-me {
        background-color: #fff;
        border-radius: 30px;
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 370px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .mini-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 1px;
        color: #252628;
    }

    .status {
        font-size: 15px;
        color: #5FD068;
        font-weight: bold;
    }

    .skills {
        background-color: #fff;
        border-radius: 30px;
        height: 500px;

    }

}

/* .flex-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} */

/* -------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

/* PC version */

@media only screen and (min-width: 751px) {

    body {
        background-color: #eff1f3;
    }

    .container {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    
    .grid-container {
        width: 80vh;
        height: 70vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
        justify-content: center;
        
    }
    
    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }
    

    
    /* Profile content */
    
    .profile {
        
        background-color: #fff;
        border-radius: 30px;
        grid-column: span 1;
        grid-row: span 2;   
    }
    
    .name {
        font-size: 25px;
        font-weight: bold;
        

    }
    
    .email {
        font-size: 18px;
        font-weight: bold;
        color: #4e4f4ee4;
        margin-top: 5px;
    }
    
    .item > img {
        height: 160px;
        border-radius: 50%;    
        
    }
    
    .item > button {
        background-color: #5f655ce4;
        border-radius: 20px;
        height: 40px;
        width: 120px;
        border: 0;
        color: white;
        font-weight: bold;
        font-size: 14px;
        
    }
    
    .item > button:hover {
        background-color: #171816e4;
    }
    
    
    
    /* About me content  */
    .about-me {
        background-color: #fff;
        border-radius: 30px;   
        grid-column: span 1;
        flex-shrink: 2;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 350px;
        padding-left: 25px;
        padding-right: 25px;
        
    
    }
    
    
    .mini-title {
        margin-top: 40px;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 5px;
        color: #252628;
    }
    
    .status {
        font-size: 16px;
        color: #5FD068;
        font-weight: bold;
        
    
    }
    
    .skills {
        background-color: #fff;
        border-radius: 30px;
        
        
    
    }
    
    /* Item skills content */
    
    
    
}

.name {
    margin-bottom: 10px;
}
.email {
    margin-top: 10px;
}

.item > button {
    margin-top: 20px;
}