body {
    font-family: 'Quicksand', sans-serif;
}


.flex-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.avatar > img {
    border-radius: 50%;
    height: 250px;
    margin-bottom: 10px;
}

.h1 {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 10px;
}

.short-intro {
    font-size: 20px;
}
.container > * {
    flex-basis: 50px;
}

.social-icon {
    margin-top: 30px;
    width: 200px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}



.nav-item {
    font-size: 20px;
    font-weight: bold;
}

.nav-link {
    color: linear-gradient(to right, #0194f6, #04fc6b);
}

.nav-link:hover {
    color: #6c6c6c;
}

.navbar-brand {
    
    border-radius: 18px;
    padding: 10px;

}

.navbar-brand > img {
    height: 40px;
}

#theme-toggle {
    border: 0;
}